#container {
  width: 100vw;
  height: 100vh;
  height: 100svh;
}
#aic {
  width: 100vw;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}
.signupParent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
.signupChild {
  padding: 30px;
  width: 80%;
  max-width: 500px;
  height: 90%;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.signupChild.inactive {
  display: none;
}
.passRequirements {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  border-radius: 20px;
  margin: 10px;
  margin-top: 4px;
  background-color: beige;
  padding: 15px;
  width: 215px;
  font-size: 13px;
  height: 45px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s;
}
.passRequirements.dropdown {
  height: auto;
}
.signupChild__error {
  color: red;
  height: 30px;
}
.signupChild h1 {
  margin-bottom: 10px;
  text-align: center;
}
.signupChild .inputField {
  margin: 5px 0px 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signupChild label {
  margin-bottom: 5px;
}
.signupChild input {
  padding: 10px;
  border: solid #000 1px;
  border-radius: 10px;
  width: 250px;
  height: 36px;
}
.signupChild form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signupChild__confirm,
.signupChild__confirm--php {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  background-color: var(--main-deepColor);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  color: #000;
}
.signupChild__msg {
  margin-top: 10px;
}
.signupChild__msg a {
  text-decoration: none;
}
.signupSuccess {
  display: none;
}
.signupSuccess.active {
  display: flex;
}
.signupSuccess__logo {
  font-size: 70px;
  margin-bottom: 10px;
}
.signupSuccess__logo i {
  color: #41c34a;
  border: solid #41c34a 10px;
  border-radius: 50%;
  padding: 10px;
  width: 110px;
  height: 110px;
}
.signupSuccess__text {
  text-align: center;
}
.signupSuccess__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.signupChild.result {
  display: none;
  overflow: auto;
  justify-content: normal;
  padding: 30px;
}
.signupChild.emailSent {
  display: none;
}
.signupChild.passwordResetSuccess {
  display: none;
}
.signupChild.result.active {
  display: flex;
}
.signupChild.emailSent.active {
  display: flex;
}
.signupChild.passwordResetSuccess.active {
  display: flex;
}
.aicBtn {
  padding: 10px;
  margin: 19px;
  border: none;
  border-radius: 10px;
  color: #000;
  cursor: pointer;
  background-color: #fff;
}
.aicBtn.migration {
  margin: 0px 10px 0px 0px;
}
#code404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 60%;
}
#code404 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#code404 a {
  text-decoration: none;
  font-size: 20px;
}
#userData {
  width: -webkit-fill-available;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: #f0f0f0;
  overflow-x: auto;
}
#userData table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: separate;
  text-align: left;
}
#userData table tr:first-child {
  background-color: #040622;
  color: #fff;
  height: 60px;
}
#userData table tr > * {
  padding: 10px;
}
#userData button {
  border: none;
  background-color: #d73333;
  color: #fff;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}
.warning__parent {
  background-color: #0000002b;
  width: 100vw;
  height: 100vh;
  height: 100svh;
  height: 100dvh;
  backdrop-filter: blur(6px);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.58, 1.4);
}
.warning__parent.active {
  opacity: 1;
  visibility: visible;
}
.warning__child {
  margin: 0px 10px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.warning__child i {
  font-size: 45px;
  color: red;
  margin-bottom: 10px;
}
.warning__child .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}
.warning__child .btn__ele {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 10px 0px 10px;
}

.restore__msg {
  text-align: center;
  padding: 10px;
}
.btn__restore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn__ele {
  background-color: var(--main-deepColor);
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.search-area {
  margin: 20px 20px 0px 20px;
}
.search-area #search {
  border-radius: 20px;
  border: none;
  padding: 15px;
  width: 100%;
  max-width: 500px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 15px;
}
/* Web responsive */
@media screen and (max-width: 600px) {

  .signupParent {
    height: 68vh;
  }
  .signupChild {
    height: 100%;
  }
  .signupChild h1 {
    margin-bottom: 20px;
  }
}