# user folder
user/*
!user/.gitkeep

# node module
node_modules/

# composer and npm json files
composer.json
composer.lock
package-lock.json
package.json

# config file (webpack, tailwind, typesciprt)
tailwind.config.js
webpack.config.js
tsconfig.json

# MacOS
.DS_Store

#testing
test/*

#Wjs
controllers/client/src/Web-Development

# local env files
.env*.local
.env

#old version files
old/*