# user folder
user/*
!user/.gitkeep

# node module
node_modules/

# vendor (composer)
vendor/*

# MacOS
.DS_Store

#testing
test/*

# local env files
.env*.local
.env

#old version files
old/*

#migrations
migrations/*
!migrations/.gitkeep

#tanstack
.tanstack/

# vscode
.vscode

# distribution
dist/*