user/*
!user/.gitkeep

public/
node_modules/
composer.json
composer.lock
package-lock.json
package.json
tailwind.config.js
webpack.config.js
.DS_Store
controllers/*
css/*

# Stripe secret key
secrets/*

#typescript config
tsconfig.json

#test file
test.php

#Wjs
src/module/Web-Development

# local env files
.env*.local
.env

#prisma
prisma/*