@tailwind base;
@tailwind components;
@tailwind utilities;

.saveDefaultButtonStyle {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 1s box-shadow;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 85px;
  padding: 0px 10px;
}

.saveDefaultButtonGlowingStyle::before,
.saveDefaultButtonGlowingStyle::after {
  display: block;
  content: "";
  position: absolute;
  width: 65%;
  height: 50px;
  background-color: #00f2ff;
  box-shadow: 1px 1px 15px #00f2ff;
  border-radius: 75px;
  z-index: -1;
  animation: 2s clockwise infinite;
}

.saveDefaultButtonGlowingStyle::after {
  background-color: #ae00ff;
  box-shadow: 1px 1px 15px #ae00ff;
  animation: 2s anticlockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -2px;
    left: 0px;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -2px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -2px;
    left: 0;
  }
}

@keyframes anticlockwise {
  0% {
    top: -2px;
    right: 0px;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -2px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -2px;
    right: 0;
  }
}